*{
    margin: 0;
    padding: 0;
}
body{

    background: linear-gradient(217deg, #45A29e, #1f2833 70.71%),
            linear-gradient(127deg, #0b0c10, #45A29e 70.71%),
            linear-gradient(336deg, #1f2833, #45A29e 70.71%);

    /* background-image:  linear-gradient(to bottom right, #45A29e ,#1f2833,#0b0c10,#45A29e,#1f2833,#0b0c10,#45A29e); */
}
.card_view{
    top: 100px;
    margin: 50px 100px 0 100px;
}
.card{
    border-radius: 15px 50px 30px 5px;
    margin: 150px 100px 0 100px;
    padding: 10px 10px 10px 10px;
    height: 350px;
}
#card{
    border-radius: 15px 50px 30px 5px;
}
