*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.card_view{
    top: 100px;
    margin: 50px 100px 0 100px;
}
.card{
    border-radius: 15px 50px 30px 5px;
    margin: 150px 100px 0 100px;
    padding: 10px 10px 10px 10px;
    height: 350px;
}
#card{
    border-radius: 15px 50px 30px 5px;
}
