body{
    background-color:#381DDC;
    background: #381DDC;
}
.navbar{
    height: 70px;
    background-color: #381DDC;
}

#NNavbar{
    background-color: #381DDC;
}
/* 
img{
    width: 70px;
    height: 70px;
} */

.container-fluid{
    position: inherit;
}

.bg-light{
    height: auto;
}

a{
    margin: 0;
    padding: 0;
}

#navbar-brand {
    font-family: "Ubuntu";
    font-size: 3rem;
    font-weight: bold;

  }
  
  .nav-item {
    padding: 0 18px;
  }
  .me-2{
      height: 50px;
      width: 1000px;
      margin-top: 30px;
  }
  .nav-link {
    font-family: Montserrat-Bold;
    font-size: 1.2rem;
  }
  #btn-Search{
      height: 50px;
      width: 50px;
      margin-right: 3px;
      margin-left: 3px;
  }
  