*{
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
  text-align: center;
}

body{
  font-size: 1.3rem;
}

a{
  color: aqua;
  text-decoration: none;
}
/* .container-fluid {
  padding: 3% 15% 7%;
} */

.col{
  padding-left: 7%;
}

.user-img{
  height: 200px;
  width: 150px;
}

.user-card-text{
  font-family: 'Kaushan Script';
  color: black;
}


.user-container{
  top: 1.2rem;
  margin: 0;
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}
.main-header{
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.main-header h1{
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.main-header h1 span{
  color: darkred;
}

.main-header p{
  font-size: 2rem;
}
/* 
img{
  width: 100%;
} */

.btn{
  display: inline-block;
  padding: 0.8rem 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.8;
}

.user-pic {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 100%;
  margin: 20px auto 20px;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  border-top: 3px solid rgba(9,9,121,1);
  border-bottom: 3px solid rgba(9,9,121,1);
  transform: rotate(-30deg);
  transition: 0.5s;
}

.user_card:hover .user-pic {
  transform: rotate(0deg);
  transform: scale(2);
  transform-style: preserve-3d;
}

.user_card {
  padding: 15px;
  background-color: #ff4c75;
  margin: 20px 0px;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0px 0px 8px 0px #d4d4d4;
  transition: 0.5s;
}

.user_card:hover {
  border: 5px solid #ffffff;
}


#cardProduct{
  margin: 30px 20px 30px 20px;
}